@charset "UTF-8";
@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #62696c;
  line-height: 1;
  font-family: "SFProDisplay";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SFProDisplay";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  padding: 0px 20px;
  min-height: 62px;
  background: rgba(8, 166, 82, 0.85);
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  color: #fff;
}
@media (any-hover: hover) {
  .button:hover {
    background: #08a652;
  }
}
.button_minh {
  min-height: 51px;
  line-height: 147.3%;
}
.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.input._form-focus {
  border: 1px solid #08a652d9;
}
.input._form-error {
  border: 1px solid #ff0000d9;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  box-shadow: 0 0 5px #08a652d9;
}
.checkbox__input:checked + .checkbox__label:before {
  background: #08a652d9;
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border: 1px solid #a7a9ac;
}
.checkbox__text {
  font-weight: 400;
  font-size: 1rem;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 171px;
  height: 41px;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}
.quantity__button {
  flex: 0 0 51px;
  position: relative;
  cursor: pointer;
}
.quantity__button::before, .quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #1f2125;
  width: 9px;
  height: 1.5px;
}
@media (any-hover: hover) {
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.quantity__button_plus::before {
  transform: rotate(-90deg);
}
.quantity__input {
  flex: 1 1 auto;
}
.quantity__input input {
  height: 100%;
  color: #1f2125;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-left: 1px solid rgba(166, 166, 166, 0.45);
  border-right: 1px solid rgba(166, 166, 166, 0.45);
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  right: -7px;
  top: -5px;
  border-radius: 50%;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #fafafa;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #08a652;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  background: #08a652;
}
.noUi-handle::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-55%, -50%);
  top: 50%;
  left: 50%;
}

/* Handle stripes;
 */
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.spollers {
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}
._spoller-init .spollers__title {
  cursor: pointer;
}
._spoller-init .spollers__title::before, ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: transform 0.5s ease 0s;
}
._spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

.filter-catalog .spollers {
  gap: 0;
}
@media (min-width: 47.99875em) {
  .filter-catalog .spollers:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.filter-catalog .spollers__sub .spollers__item {
  border: 0px solid #eee;
}
.filter-catalog .spollers__sub .spollers__item:last-child .spollers__body {
  padding-bottom: 0;
}
.filter-catalog .spollers__sub .spollers__title {
  color: #62696c;
  padding: 0rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.filter-catalog .spollers__sub .spollers__title::before, .filter-catalog .spollers__sub .spollers__title::after {
  background-color: #62696c;
}
.filter-catalog .spollers__sub .spollers__body {
  font-weight: 400;
}
.filter-catalog .spollers__item {
  border: 1px solid #eee;
  border-top: 0px solid #eee;
}
.filter-catalog .spollers__title {
  border: 0px solid #eee;
  color: #1f2125;
  width: auto;
  font-weight: 600;
  font-size: 1rem;
}
.filter-catalog .spollers__title::before, .filter-catalog .spollers__title::after {
  right: -15px;
  height: 2px;
  width: 7px;
}
.filter-catalog .spollers__body {
  border: 0px solid #eee;
  padding-top: 0.625rem;
}
.filter-catalog .spollers__list li:not(:last-child) {
  margin-bottom: 0.375rem;
}
.filter-catalog .spollers__link {
  font-size: 1rem;
  line-height: 1.1875;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .filter-catalog .spollers__link:hover {
    border-bottom: 1px solid #08a652d9;
  }
}
.filter-catalog .spollers__input {
  border: 1px solid #e0e0e0;
  height: 33px;
  width: 6.25rem;
  padding: 0 5px 0 25px;
}
.filter-catalog .spollers__input:not(:last-child) {
  margin-right: 1.5rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #1f2125;
  line-height: 135.3%;
}
.title_main {
  font-size: 2.25rem;
}
.title_sub {
  font-size: 1.25rem;
  color: #62696c;
}

.contact__item {
  color: #1f2125;
}
.contact__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (min-width: 47.99875em) {
  .contact__item:not(:first-child) {
    display: flex;
    align-items: center;
  }
}
.contact__label {
  margin-bottom: 0.3125rem;
  margin-right: 0.875rem;
  color: #1f2125;
}
.contact__info {
  line-height: 147.3%;
}
.contact__info a {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .contact__info a:hover {
    border-bottom: 1px solid #1f2125;
  }
}
@media (min-width: 47.99875em) {
  .contact__info a:not(:last-child) {
    margin-right: 0.875rem;
  }
}
@media (max-width: 47.99875em) {
  .contact__info a {
    display: block;
  }
}

.breadcrumbs {
  white-space: nowrap;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__list li {
  margin-right: 1.4375rem;
}
.breadcrumbs__link {
  position: relative;
}
.breadcrumbs__link::before, .breadcrumbs__link::after {
  content: "";
  position: absolute;
  right: -15px;
  width: 6px;
  top: 50%;
  background-color: #696c74;
  height: 1.5px;
}
.breadcrumbs__link::before {
  transform: translate(0%, -120%) rotate(45deg);
}
.breadcrumbs__link::after {
  transform: translate(0, 115%) rotate(-45deg);
}

.product {
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.1);
}
@media (max-width: 47.99875em) {
  .product {
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .product_l .product__bottom {
    flex-direction: row;
  }
}
@media (max-width: 29.99875em) {
  .product_l .product__button {
    margin-top: 0rem;
    margin-right: 1.375rem;
  }
}
@media (max-width: 47.99875em) {
  .product_l {
    text-align: left;
  }
}
@media (max-width: 29.99875em) {
  .product_l .product__rating {
    justify-content: flex-start;
  }
}
.product__img {
  position: relative;
  padding-bottom: 73.5694822888%;
}
.product__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product__rating {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.product__rating.rating {
  font-size: 1.5625rem;
}
@media (max-width: 29.99875em) {
  .product__rating {
    margin-bottom: 1.25rem;
    justify-content: center;
  }
}
.product__name {
  font-weight: 500;
  line-height: 123.8%;
  color: #1f2125;
}
.product__bottom {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}
@media (max-width: 29.99875em) {
  .product__bottom {
    flex-direction: column-reverse;
  }
}
.product__button {
  min-width: 8.4375rem;
  min-height: 2.4375rem;
  margin-right: 1.375rem;
}
@media (max-width: 29.99875em) {
  .product__button {
    margin-top: 1.25rem;
    margin-right: 0rem;
  }
}
.product__price {
  line-height: 135.3%;
  font-weight: 500;
}

.pagging {
  display: inline-block;
  position: relative;
}
.pagging__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}
.pagging__arrow_left {
  left: 0rem;
  background: url("../img/catalog/arn.png") 45% 50% no-repeat;
}
.pagging__arrow_right {
  right: -3.75rem;
  background: url("../img/catalog/arn.png") 45% 50% no-repeat;
  transform: translateY(-50%) rotate(-180deg);
}
@media (max-width: 47.99875em) {
  .pagging__arrow {
    width: 27px;
    height: 27px;
  }
  .pagging__arrow_left {
    left: 1.25rem;
    background: url("../img/catalog/arn.png") 25% 40% no-repeat;
  }
  .pagging__arrow_right {
    right: -2.5rem;
    background: url("../img/catalog/arn.png") 25% 40% no-repeat;
  }
}
.pagging__list {
  display: inline-flex;
  align-items: center;
}
.pagging__list li:not(:last-child) {
  margin-right: 1.25rem;
}
@media (max-width: 29.99875em) {
  .pagging__list li:not(:last-child) {
    margin-right: 0.625rem;
  }
}
.pagging__link {
  line-height: 147.3%;
  color: #1f2125;
  transition: all 0.3s ease 0s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}
.pagging__link._active {
  background: #62696c;
  border: 2px solid #62696c;
  color: #fff;
}
@media (any-hover: hover) {
  .pagging__link:hover {
    background: #62696c;
    border: 2px solid #62696c;
    color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .pagging__link {
    width: 27px;
    height: 27px;
  }
  .pagging__link._active {
    background: #08a652;
    border: 2px solid #08a652;
  }
}
@media (max-width: 47.99875em) and (any-hover: hover) {
  .pagging__link:hover {
    background: #08a652;
    border: 2px solid #08a652;
  }
}

.filter-catalog {
  background-color: #fff;
}
.filter-catalog__title {
  font-size: 1.5rem;
  padding: 0.875rem 0;
  padding-left: 1.4375rem;
  border: 1px solid #e0e0e0;
}
.filter-catalog__inputs {
  display: flex;
  align-items: center;
}
.filter-catalog__range {
  margin-top: 1.25rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 30;
  border-bottom: 1px solid #e0e0e0;
}
.header__container {
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  flex: 0 0 12.875rem;
  position: relative;
  z-index: 2;
}
.header__logo img {
  max-width: 100%;
}
.header__search {
  display: none;
}
@media (max-width: 47.99875em) {
  .header__search {
    display: block;
  }
}
.header__poisk {
  position: absolute;
  top: 10px;
  left: 10px;
}
.header__poisk-main {
  cursor: pointer;
  width: 1.5625rem;
  position: relative;
  z-index: 2;
}
.header__box {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.header__box.box-p {
  position: absolute;
  top: 100px;
  right: -100%;
  transition: right 0.3s ease 0s;
}
.header__box.box-p._show {
  right: 15px;
}
.header__input {
  height: 2.5rem;
  padding: 0px 1.25rem 0 2.8125rem;
  transition: all 0.3s ease 0s;
  border: 1px solid #0eaf20;
  width: 100%;
}
.header__input:focus {
  border: 1px solid #146dda;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 6.25rem 0.9375rem 1.25rem;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 5.5rem;
    top: 0;
    left: -100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.menu__list li {
  margin-left: 1.875rem;
}
@media (max-width: 47.99875em) {
  .menu__list li {
    margin-left: 0rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list li:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.menu__link {
  color: #1f2125;
  transition: all 0.3s ease 0s;
  font-size: 1rem;
  line-height: 1.1875;
  border-bottom: 1px solid transparent;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #08a652d9;
    border-bottom: 1px solid #08a652d9;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.25rem;
  }
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    border-radius: 30px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  border-top: 1px solid #e0e0e0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@supports (padding-top: clamp( 1.875rem , 1.5568181818rem  +  1.5909090909vw , 2.75rem )) {
  .footer__top {
    padding-top: clamp( 1.875rem , 1.5568181818rem  +  1.5909090909vw , 2.75rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 1.5568181818rem  +  1.5909090909vw , 2.75rem )) {
  .footer__top {
    padding-top: calc(1.875rem + 0.875 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.9375rem )) {
  .footer__top {
    padding-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.9375rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.9375rem )) {
  .footer__top {
    padding-bottom: calc(1.875rem + 2.0625 * (100vw - 20rem) / 55);
  }
}
.footer__logo {
  flex: 0 0 12.875rem;
}
@media (max-width: 47.99875em) {
  .footer__logo {
    display: none;
  }
}
.footer__logo img {
  max-width: 100%;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 auto;
  column-gap: 1.25rem;
}
@media (min-width: 47.99875em) {
  .footer__menu {
    max-width: 37.5rem;
    column-gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__body {
    margin-bottom: 2.5rem;
  }
}
.footer__label {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .footer__label {
    margin-bottom: 1.875rem;
  }
}
.footer__list li:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer__link {
  font-size: 1rem;
  line-height: 1.1875;
  color: #1f2125;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}
@media (any-hover: hover) {
  .footer__link:hover {
    border-bottom: 1px solid #1f2125;
  }
}
.footer__bottom {
  color: #1f2125;
  line-height: 147.3%;
  font-size: 1rem;
}
@media (min-width: 47.99875em) {
  .footer__bottom {
    background: #e0e0e0;
  }
}
.footer__bottom .footer__container {
  display: flex;
}
@media (min-width: 47.99875em) {
  .footer__bottom .footer__container {
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 47.99875em) {
  .footer__bottom .footer__container {
    text-align: center;
    flex-direction: column-reverse;
  }
}
@supports (padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .footer__prava {
    padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .footer__prava {
    padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .footer__prava {
    padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}
@supports not (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .footer__prava {
    padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}
.footer__copy {
  padding: 1.875rem 0;
}
@media (max-width: 47.99875em) {
  .footer__copy {
    background: #e0e0e0;
    margin: 0 -15px;
    padding: 1.875rem 0.9375rem;
    display: flex;
    flex-direction: column;
  }
  .footer__copy span:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.footer__copy span {
  text-decoration: underline;
}
@media (min-width: 47.99875em) {
  .footer__copy span {
    margin-left: 3.125rem;
  }
}

.page_catalog {
  margin-top: 8rem;
}
.page_product {
  margin-top: 8rem;
}
.page__breadcrumbs {
  margin-bottom: 2.5rem;
}

.home {
  margin-top: 5.5rem;
  position: relative;
}
@supports (padding-top: clamp( 2.8125rem , 1.2897727273rem  +  7.6136363636vw , 7rem )) {
  .home {
    padding-top: clamp( 2.8125rem , 1.2897727273rem  +  7.6136363636vw , 7rem );
  }
}
@supports not (padding-top: clamp( 2.8125rem , 1.2897727273rem  +  7.6136363636vw , 7rem )) {
  .home {
    padding-top: calc(2.8125rem + 4.1875 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 2.8125rem , 1.2215909091rem  +  7.9545454545vw , 7.1875rem )) {
  .home {
    padding-bottom: clamp( 2.8125rem , 1.2215909091rem  +  7.9545454545vw , 7.1875rem );
  }
}
@supports not (padding-bottom: clamp( 2.8125rem , 1.2215909091rem  +  7.9545454545vw , 7.1875rem )) {
  .home {
    padding-bottom: calc(2.8125rem + 4.375 * (100vw - 20rem) / 55);
  }
}
.home__content {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.48);
  padding: 3.75rem 2.9375rem 2.9375rem 0;
}
@media (min-width: 47.99875em) {
  .home__content {
    width: 57%;
  }
  .home__content::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 100%;
    background: rgba(255, 255, 255, 0.48);
  }
}
@media (max-width: 47.99875em) {
  .home__content {
    text-align: center;
    padding: 3.75rem 1rem;
  }
}
.home__button {
  margin-top: 3.4375rem;
}
@media (max-width: 47.99875em) {
  .home__button {
    margin-top: 2.5rem;
  }
}
.home__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@supports (padding-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .form {
    padding-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .form {
    padding-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 5rem , 4.7727272727rem  +  1.1363636364vw , 5.625rem )) {
  .form {
    padding-bottom: clamp( 5rem , 4.7727272727rem  +  1.1363636364vw , 5.625rem );
  }
}
@supports not (padding-bottom: clamp( 5rem , 4.7727272727rem  +  1.1363636364vw , 5.625rem )) {
  .form {
    padding-bottom: calc(5rem + 0.625 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 47.99875em) {
  .form__container {
    text-align: center;
  }
}
.form__title {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .form__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 47.99875em) {
  .form__form {
    display: flex;
  }
}
@media (min-width: 47.99875em) {
  .form__line {
    max-width: 18.75rem;
    width: 100%;
  }
  @supports (margin-right: clamp( 0.00000625rem , -0.77271875rem  +  3.863625vw , 2.125rem )) {
    .form__line {
      margin-right: clamp( 0.00000625rem , -0.77271875rem  +  3.863625vw , 2.125rem );
    }
  }
  @supports not (margin-right: clamp( 0.00000625rem , -0.77271875rem  +  3.863625vw , 2.125rem )) {
    .form__line {
      margin-right: calc(0.00000625rem + 2.12499375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 47.99875em) {
  .form__line:not(:last-child) {
    margin-bottom: 0.8125rem;
  }
}
.form__line .form__error {
  color: red;
  margin-top: 0.3125rem;
}
.form__line .input {
  height: 3.1875rem;
  padding-left: 2.1875rem;
}
.form__button {
  width: 170px;
}
@media (max-width: 47.99875em) {
  .form__button {
    margin-top: 2.5rem;
  }
}

.our {
  position: relative;
  overflow: hidden;
}
@supports (padding-top: clamp( 3.875rem , 2.8295454545rem  +  5.2272727273vw , 6.75rem )) {
  .our {
    padding-top: clamp( 3.875rem , 2.8295454545rem  +  5.2272727273vw , 6.75rem );
  }
}
@supports not (padding-top: clamp( 3.875rem , 2.8295454545rem  +  5.2272727273vw , 6.75rem )) {
  .our {
    padding-top: calc(3.875rem + 2.875 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 3.875rem , 2.8295454545rem  +  5.2272727273vw , 6.75rem )) {
  .our {
    padding-bottom: clamp( 3.875rem , 2.8295454545rem  +  5.2272727273vw , 6.75rem );
  }
}
@supports not (padding-bottom: clamp( 3.875rem , 2.8295454545rem  +  5.2272727273vw , 6.75rem )) {
  .our {
    padding-bottom: calc(3.875rem + 2.875 * (100vw - 20rem) / 55);
  }
}
.our__container {
  position: relative;
  z-index: 2;
}
@media (min-width: 47.99875em) {
  .our__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.our__content {
  position: relative;
  padding: 4.875rem 4.0625rem 4.875rem 0;
}
@media (min-width: 47.99875em) {
  .our__content {
    width: 45.7%;
    background-color: #fff;
  }
  .our__content::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 100%;
    background-color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .our__content {
    background: rgba(255, 255, 255, 0.83);
    text-align: center;
    padding: 3.75rem 1rem;
  }
}
.our__title {
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .our__title {
    margin-bottom: 2.1875rem;
  }
}
.our__text p {
  line-height: 147.3%;
}
.our__text p:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .our__text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.our__button {
  margin-top: 4.0625rem;
}
.our__line {
  position: relative;
  width: 10.625rem;
  background: rgba(8, 166, 81, 0.851);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .our__line {
    display: none;
  }
}
.our__line::after, .our__line::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(8, 166, 81, 0.851);
}
.our__line::after {
  top: 100%;
}
.our__line::before {
  bottom: 100%;
}
.our__line span {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 135.3%;
  text-transform: uppercase;
  color: #fff;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 10px;
}
.our__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@supports (padding-top: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem )) {
  .box {
    padding-top: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem );
  }
}
@supports not (padding-top: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem )) {
  .box {
    padding-top: calc(4.375rem + 1.25 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem )) {
  .box {
    padding-bottom: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem );
  }
}
@supports not (padding-bottom: clamp( 4.375rem , 3.9204545455rem  +  2.2727272727vw , 5.625rem )) {
  .box {
    padding-bottom: calc(4.375rem + 1.25 * (100vw - 20rem) / 55);
  }
}
.box__title {
  margin-bottom: 4.1875rem;
}
@media (max-width: 47.99875em) {
  .box__title {
    margin-bottom: 2.8125rem;
    text-align: center;
  }
}
.box__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: 1.875rem;
  row-gap: 3.375rem;
}
.box__item {
  position: relative;
  font-size: 1.25rem;
  line-height: 135.3%;
  font-weight: 600;
  height: 16.875rem;
}
@media (max-width: 600px) {
  .box__item {
    margin: 0 1.875rem;
  }
}
.box__img-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.box__info {
  z-index: 2;
  padding: 0.625rem;
  position: absolute;
  width: 100%;
  min-height: 4.0625rem;
  max-height: 6.25rem;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  background: rgba(98, 105, 108, 0.85);
  text-align: center;
}
.box__text {
  color: #fff;
}
.box__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.8125rem;
  color: #1f2125;
  font-size: 1.25rem;
  line-height: 135.3%;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .box__link {
    margin-top: 2.1875rem;
  }
}
@media (any-hover: hover) {
  .box__link:hover {
    color: #08a652d9;
  }
  .box__link:hover span {
    margin-right: 1rem;
    border-bottom: 1px solid #08a652d9;
  }
}
.box__link span {
  margin-right: 0.5625rem;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #1f2125;
}

.working {
  position: relative;
}
@supports (padding-top: clamp( 7.0625rem , 4.3125rem  +  13.75vw , 14.625rem )) {
  .working {
    padding-top: clamp( 7.0625rem , 4.3125rem  +  13.75vw , 14.625rem );
  }
}
@supports not (padding-top: clamp( 7.0625rem , 4.3125rem  +  13.75vw , 14.625rem )) {
  .working {
    padding-top: calc(7.0625rem + 7.5625 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 7.0625rem , 4.6079545455rem  +  12.2727272727vw , 13.8125rem )) {
  .working {
    padding-bottom: clamp( 7.0625rem , 4.6079545455rem  +  12.2727272727vw , 13.8125rem );
  }
}
@supports not (padding-bottom: clamp( 7.0625rem , 4.6079545455rem  +  12.2727272727vw , 13.8125rem )) {
  .working {
    padding-bottom: calc(7.0625rem + 6.75 * (100vw - 20rem) / 55);
  }
}
.working::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(91.25deg, rgba(0, 0, 0, 0.53) 0.83%, rgba(0, 0, 0, 0.04) 98.14%);
}
.working__container {
  position: relative;
  z-index: 2;
}
@media (max-width: 47.99875em) {
  .working__container {
    text-align: center;
  }
}
@media (min-width: 47.99875em) {
  .working__content {
    width: 57.2%;
    color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .working__content {
    padding: 4.6875rem 1.875rem;
    background-color: #fff;
    color: #1f2125;
  }
}
.working__title {
  margin-bottom: 2.25rem;
}
@media (min-width: 47.99875em) {
  .working__title {
    color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .working__title {
    font-size: 1.5rem;
  }
}
.working__text {
  line-height: 147.3%;
}
.working__button {
  margin-top: 3.125rem;
  width: 16.3125rem;
}
@media (max-width: 47.99875em) {
  .working__button {
    margin-top: 3.75rem;
  }
}
.working__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@supports (padding-top: clamp( 4.0625rem , 2.8125rem  +  6.25vw , 7.5rem )) {
  .why {
    padding-top: clamp( 4.0625rem , 2.8125rem  +  6.25vw , 7.5rem );
  }
}
@supports not (padding-top: clamp( 4.0625rem , 2.8125rem  +  6.25vw , 7.5rem )) {
  .why {
    padding-top: calc(4.0625rem + 3.4375 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 4.0625rem , 1.7897727273rem  +  11.3636363636vw , 10.3125rem )) {
  .why {
    padding-bottom: clamp( 4.0625rem , 1.7897727273rem  +  11.3636363636vw , 10.3125rem );
  }
}
@supports not (padding-bottom: clamp( 4.0625rem , 1.7897727273rem  +  11.3636363636vw , 10.3125rem )) {
  .why {
    padding-bottom: calc(4.0625rem + 6.25 * (100vw - 20rem) / 55);
  }
}
.why__container {
  display: flex;
}
@media (max-width: 47.99875em) {
  .why__container {
    text-align: center;
    flex-direction: column-reverse;
  }
}
@media (min-width: 47.99875em) {
  .why__content {
    flex: 0 1 50%;
    padding-right: 20px;
  }
}
.why__title {
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .why__title {
    margin-bottom: 2.8125rem;
  }
}
.why__item:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (min-width: 47.99875em) {
  .why__item {
    max-width: 450px;
  }
}
.why__sub-title {
  color: #1f2125;
  margin-bottom: 1.1875rem;
}
.why__sub-title span {
  color: rgba(8, 166, 82, 0.85);
  margin-right: 20px;
}
@media (max-width: 47.99875em) {
  .why__sub-title {
    margin-bottom: 0.875rem;
  }
}
.why__text {
  line-height: 147.3%;
}
@media (min-width: 47.99875em) {
  .why__text {
    margin-left: 2.5625rem;
  }
}
.why__image {
  position: relative;
}
@media (min-width: 47.99875em) {
  .why__image {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .why__image {
    height: 297px;
    margin-bottom: 65px;
  }
}
.why__img-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@supports (padding-bottom: clamp( 4.6875rem , 3.3238636364rem  +  6.8181818182vw , 8.4375rem )) {
  .fqa {
    padding-bottom: clamp( 4.6875rem , 3.3238636364rem  +  6.8181818182vw , 8.4375rem );
  }
}
@supports not (padding-bottom: clamp( 4.6875rem , 3.3238636364rem  +  6.8181818182vw , 8.4375rem )) {
  .fqa {
    padding-bottom: calc(4.6875rem + 3.75 * (100vw - 20rem) / 55);
  }
}
.fqa__title {
  text-align: center;
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .fqa__title {
    margin-bottom: 2.1875rem;
    font-size: 1.5rem;
  }
}
.fqa .spollers {
  gap: 0px;
}
.fqa .spollers__item {
  border: 1px solid #e0e0e0;
}
.fqa .spollers__item:first-child {
  border-radius: 5px 5px 0 0;
}
.fqa .spollers__item:last-child {
  border-radius: 0 0 5px 5px;
}
.fqa .spollers__title {
  min-height: 67px;
  padding: 0.625rem 0.9375rem 0.625rem 4.375rem;
  position: relative;
  border: 0px solid #000;
  color: #1f2125;
}
.fqa .spollers__title::before, .fqa .spollers__title::after {
  content: "";
  left: 30px;
  width: 10px;
}
.fqa .spollers__title::before {
  transform: translate(0%, -150%) rotate(45deg);
}
.fqa .spollers__title::after {
  transform: translate(0, 150%) rotate(-45deg);
}
.fqa .spollers__title._spoller-active::before {
  transform: translateX(54%) rotate(130deg);
}
.fqa .spollers__title._spoller-active::after {
  transform: translateX(-5%) rotate(-130deg);
}
.fqa .spollers__body {
  border: 0px solid #000;
  padding-left: 70px;
  padding-top: 0rem;
  padding-bottom: 1.0625rem;
  line-height: 147.3%;
}

@supports (padding-bottom: clamp( 2.8125rem , 0.7670454545rem  +  10.2272727273vw , 8.4375rem )) {
  .map-contact {
    padding-bottom: clamp( 2.8125rem , 0.7670454545rem  +  10.2272727273vw , 8.4375rem );
  }
}
@supports not (padding-bottom: clamp( 2.8125rem , 0.7670454545rem  +  10.2272727273vw , 8.4375rem )) {
  .map-contact {
    padding-bottom: calc(2.8125rem + 5.625 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 47.99875em) {
  .map-contact__container {
    text-align: center;
  }
}
.map-contact__title {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .map-contact__title {
    font-size: 1.5rem;
    margin-bottom: 2.125rem;
  }
}
@media (min-width: 47.99875em) {
  .map-contact__body {
    display: flex;
  }
}
@media (min-width: 47.99875em) {
  .map-contact__wrapper {
    flex: 0 1 57%;
    height: 360px;
  }
}
@media (max-width: 47.99875em) {
  .map-contact__wrapper {
    margin-bottom: 1.25rem;
    height: 300px;
  }
}
@media (max-width: 29.99875em) {
  .map-contact__wrapper {
    height: 174px;
  }
}
.map-contact__wrapper iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 47.99875em) {
  .map-contact__content {
    flex: 0 1 43%;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
  }
}

.order {
  position: relative;
}
@supports (padding-top: clamp( 2.8125rem , 1.3125rem  +  7.5vw , 6.9375rem )) {
  .order {
    padding-top: clamp( 2.8125rem , 1.3125rem  +  7.5vw , 6.9375rem );
  }
}
@supports not (padding-top: clamp( 2.8125rem , 1.3125rem  +  7.5vw , 6.9375rem )) {
  .order {
    padding-top: calc(2.8125rem + 4.125 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 2.8125rem , 0.8806818182rem  +  9.6590909091vw , 8.125rem )) {
  .order {
    padding-bottom: clamp( 2.8125rem , 0.8806818182rem  +  9.6590909091vw , 8.125rem );
  }
}
@supports not (padding-bottom: clamp( 2.8125rem , 0.8806818182rem  +  9.6590909091vw , 8.125rem )) {
  .order {
    padding-bottom: calc(2.8125rem + 5.3125 * (100vw - 20rem) / 55);
  }
}
.order__container {
  text-align: center;
}
.order__content {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.87);
  padding: 6.5rem 4.1875rem;
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 47.99875em) {
  .order__content {
    padding: 3.75rem 0.75rem;
  }
}
@media (max-width: 47.99875em) {
  .order__sub-title {
    font-size: 1.5rem;
  }
}
.order__title {
  color: #08a652;
  margin-bottom: 2.6875rem;
}
@media (max-width: 47.99875em) {
  .order__title {
    margin-bottom: 1.5625rem;
  }
}
.order__text {
  line-height: 147.3%;
}
.order__button {
  margin-top: 3.125rem;
  width: 320px;
}
@media (max-width: 29.99875em) {
  .order__button {
    width: 100%;
  }
}
.order__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 47.99875em) {
  .order__bg-ibg img {
    object-position: 100% 0;
  }
}

@supports (padding-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .contacts {
    padding-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .contacts {
    padding-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 2.1875rem , 0.4829545455rem  +  8.5227272727vw , 6.875rem )) {
  .contacts {
    padding-bottom: clamp( 2.1875rem , 0.4829545455rem  +  8.5227272727vw , 6.875rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , 0.4829545455rem  +  8.5227272727vw , 6.875rem )) {
  .contacts {
    padding-bottom: calc(2.1875rem + 4.6875 * (100vw - 20rem) / 55);
  }
}
.contacts_b {
  border-top: 1px solid #e0e0e0;
}
@media (max-width: 47.99875em) {
  .contacts__container {
    text-align: center;
  }
}
.contacts__title {
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .contacts__title {
    margin-bottom: 3.125rem;
  }
}

@supports (margin-bottom: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.3125rem )) {
  .catalog {
    margin-bottom: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.3125rem );
  }
}
@supports not (margin-bottom: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.3125rem )) {
  .catalog {
    margin-bottom: calc(2.8125rem + 2.5 * (100vw - 20rem) / 55);
  }
}
@media (min-width: 47.99875em) {
  .catalog__body {
    display: grid;
    grid-template-columns: 16.875rem 1fr;
    gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .catalog__wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 30;
    transition: all 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.735);
  }
  .catalog__wrapper._open {
    left: 0;
  }
}
.catalog__control {
  margin-bottom: 1.25rem;
}
.catalog__filt {
  display: none;
}
@media (max-width: 47.99875em) {
  .catalog__filt {
    display: block;
    position: relative;
    padding-left: 1.75rem;
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    color: #000;
    line-height: 1.2142857143;
  }
  .catalog__filt::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../img/icons/filt.svg") left no-repeat;
  }
}
.catalog__select {
  display: flex;
}
.catalog__select span {
  margin-right: 0.625rem;
}
.catalog__select select {
  color: #1f2125;
  cursor: pointer;
  font-size: 1rem;
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  gap: 1.875rem;
}
@media (max-width: 29.99875em) {
  .catalog__footer {
    text-align: center;
  }
}
.catalog__pagging {
  margin-top: 1.875rem;
  padding-left: 3.75rem;
}
@media (max-width: 29.99875em) {
  .catalog__pagging {
    transform: translateX(-10%);
  }
}
@media (max-width: 47.99875em) {
  .catalog__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 16.875rem;
    height: auto;
    background-color: #fff;
  }
}

.card__top {
  margin-bottom: 1.25rem;
}
@media (min-width: 61.99875em) {
  .card__top {
    display: grid;
    grid-template-columns: 42.735042735% 1fr;
  }
}
@media (max-width: 61.99875em) {
  .card__top {
    margin-top: 1.25rem;
  }
}
.card__title {
  font-size: 1.5rem;
  line-height: 1.3529166667;
  font-weight: 600;
  color: #1f2125;
}
@media (max-width: 61.99875em) {
  .card__title {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
  }
}
@media (min-width: 61.99875em) {
  .card__rating {
    padding-left: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .card__rating .rating {
    font-size: 1.5625rem;
  }
}
.card__bottom {
  background: #ffffff;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.1);
}
@media (min-width: 61.99875em) {
  .card__bottom {
    padding: 1.75rem 1.75rem 1.75rem 1.125rem;
    display: grid;
    grid-template-columns: 42.735042735% 1fr;
  }
}
@media (max-width: 61.99875em) {
  .card__bottom {
    padding: 1.25rem;
  }
}
.card__sliders {
  padding-right: 1.875rem;
  display: flex;
}
@media (max-width: 75em) {
  .card__sliders {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .card__sliders {
    padding-right: 0rem;
    flex-direction: column-reverse;
  }
}
@media (min-width: 61.99875em) {
  .card__content {
    display: grid;
    grid-template-columns: 44.776119403% 1fr;
  }
}
@media (max-width: 61.99875em) {
  .card__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.card__info {
  padding: 0 1.875rem;
}
@media (min-width: 61.99875em) {
  .card__info {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
  }
}
@media (max-width: 75em) {
  .card__info {
    padding: 0 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .card__info {
    padding: 2.1875rem 0rem 0;
  }
}
.card__label {
  font-size: 1.125rem;
  line-height: 1.3527777778;
  font-weight: 600;
  color: #1f2125;
  margin-bottom: 0.75rem;
}
@media (max-width: 61.99875em) {
  .card__label {
    margin-bottom: 1.25rem;
  }
}
.card__data {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card__item {
  padding-right: 0.625rem;
  flex: 0 1 70%;
}
.card__item:not(:last-child) {
  margin-bottom: 0.5625rem;
}
.card__value {
  flex: 0 1 30%;
  text-align: right;
  color: #1f2125;
}
.card__body {
  margin-left: 1.875rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 75em) {
  .card__body {
    margin-left: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .card__body {
    margin-left: 0rem;
    padding-top: 1.375rem;
    border-top: 1px solid #e0e0e0;
    padding-bottom: 1.5625rem;
    border-bottom: 1px solid #e0e0e0;
  }
}
.card__price {
  margin-bottom: 1.25rem;
}
.card__price-new {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 135.3%;
  color: #08a652;
  margin-right: 0.875rem;
}
.card__price-old {
  font-size: 1.25rem;
  line-height: 135.3%;
  text-decoration-line: line-through;
}
@media (min-width: 61.99875em) {
  .card__quantity {
    margin-bottom: 0.9375rem;
  }
}
.card__button {
  width: 100%;
  min-height: 49px;
}
@media (min-width: 61.99875em) {
  .card__button {
    margin: auto 0 0;
  }
}
@media (max-width: 61.99875em) {
  .card__button {
    margin-top: 2.125rem;
  }
}

.sliders-card__slider {
  flex: 1 1 auto;
  margin-left: 1.25rem;
  border: 1px solid #e0e0e0;
}
@media (max-width: 75em) {
  .sliders-card__slider {
    margin-left: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .sliders-card__slider {
    margin-left: 0rem;
  }
}
.sliders-card__slide-ibg {
  padding-bottom: 75.6646216769%;
}
@media (max-width: 61.99875em) {
  .sliders-card__thumbs {
    margin-top: 1.25rem;
  }
}

@media (min-width: 61.99875em) {
  .thumbs-slider {
    flex: 0 0 61px;
    max-height: 18.75rem;
  }
}
.thumbs-slider__slide-ibg {
  border: 1px solid #e0e0e0;
}
@media (max-width: 61.99875em) {
  .thumbs-slider__slide-ibg {
    padding-bottom: 17.9411764706%;
  }
}

@supports (margin-top: clamp( 5.625rem , 4.6704545455rem  +  4.7727272727vw , 8.25rem )) {
  .recommend {
    margin-top: clamp( 5.625rem , 4.6704545455rem  +  4.7727272727vw , 8.25rem );
  }
}
@supports not (margin-top: clamp( 5.625rem , 4.6704545455rem  +  4.7727272727vw , 8.25rem )) {
  .recommend {
    margin-top: calc(5.625rem + 2.625 * (100vw - 20rem) / 55);
  }
}
@supports (margin-bottom: clamp( 3rem , 2.3863636364rem  +  3.0681818182vw , 4.6875rem )) {
  .recommend {
    margin-bottom: clamp( 3rem , 2.3863636364rem  +  3.0681818182vw , 4.6875rem );
  }
}
@supports not (margin-bottom: clamp( 3rem , 2.3863636364rem  +  3.0681818182vw , 4.6875rem )) {
  .recommend {
    margin-bottom: calc(3rem + 1.6875 * (100vw - 20rem) / 55);
  }
}
@supports (margin-bottom: clamp( 0.375rem , -0.3068181818rem  +  3.4090909091vw , 2.25rem )) {
  .recommend__title {
    margin-bottom: clamp( 0.375rem , -0.3068181818rem  +  3.4090909091vw , 2.25rem );
  }
}
@supports not (margin-bottom: clamp( 0.375rem , -0.3068181818rem  +  3.4090909091vw , 2.25rem )) {
  .recommend__title {
    margin-bottom: calc(0.375rem + 1.875 * (100vw - 20rem) / 55);
  }
}
@media (min-width: 47.99875em) {
  .recommend__title {
    text-align: center;
  }
}
@media (max-width: 47.99875em) {
  .recommend__title {
    font-size: 1.5rem;
  }
}
.recommend__products {
  display: flex;
  column-gap: 1.875rem;
  overflow-x: auto;
  padding: 1.875rem;
  margin: 0 -1.875rem;
}
.recommend__product {
  min-width: 270px;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
